.resume-block {
  @include clearfix();
  margin-bottom: 2.5rem;
}

.block-header {
  text-align: center;
}

.text-right {
  text-align: right;
}

.bordered {
  border-color: #000;
  border-style: solid;
  border-width: 0 0 0 1px;
	margin-bottom: 1rem;
}



.education-period {
  font-size: .8rem;
}



.personal-data,
.computer-skills,
.education,
.languages,
.about-me {
  span {
    font-family: $font-family-small-caps;
  }
	p {
		margin-bottom: 0;
	}
}

.about-me {

}

.about-me-text {
  display: block;
  font-size: 18px;
  text-align: center;
  padding: 0 12px;
}

.about-me-header {
  @media (max-width: 568px) {
    text-align: left;
    width: 100%;
  }
}

.about-me-desc {
  @media (max-width: 568px) {
    border-color: #ccc;
    border-left-width: 0;
    border-top-width: 1px;
    padding-top: .8rem;
    padding-bottom: 1rem;
    width: 100%;
  }
}

.study-list {
  margin: .3rem 0 0 0;

  > li > p {
    text-indent: 0;
  }
}





.computer-skills {
  font-size: 1.2rem;
}

.skill-desc {
  @media (max-width: 568px) {
    margin-bottom: .2rem;
    font-size: 1.4rem;
    margin-left: 3%;
    width: 100%;
    text-align: left;
  }
}

.skill {
  @media (max-width: 568px) {
    margin-left: 10%;
    width: 100%;
    margin-bottom: 1rem;
  }
}





.proj-header {
  @media (max-width: 628px) {
    text-align: left;
    width: 100% !important;
    margin-bottom: 1rem;
  }
}
.proj-name {
  font-size: 1.2rem;
}

.proj-desc {
  @media (max-width: 628px) {
    width: 100%;
  }
}
