@font-face {
    font-family: 'fsregular';
    src: url('../fonts/fontin-sans/fontinsans_cyrillic_r_46b-webfont.eot');
    src: url('../fonts/fontin-sans/fontinsans_cyrillic_r_46b-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontin-sans/fontinsans_cyrillic_r_46b-webfont.woff2') format('woff2'),
         url('../fonts/fontin-sans/fontinsans_cyrillic_r_46b-webfont.woff') format('woff'),
         url('../fonts/fontin-sans/fontinsans_cyrillic_r_46b-webfont.ttf') format('truetype'),
         url('../fonts/fontin-sans/fontinsans_cyrillic_r_46b-webfont.svg#fontin_sans_crregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
