// header styles
header {
  margin: 1.5rem 0;
}

.header {
  border-bottom: 1px solid #eee;
}

.logo {
  display: block;
  font-family: $font-family-small-caps;
  line-height: 4rem;
  font-size: 2.5rem;

  > a {
    color: #777;
  }

  @media (max-width: 768px) {
    text-align: center;
  }
}

.resume-title {
  display: block;
  line-height: 4rem;
  text-align: right;
  font-size: 1.5rem;
  color: #777;


  
  @media (max-width: 1200px) {
    text-align: left;
  }

  @media (max-width: 768px) {
    text-align: center;
  }

}


.header-link-icon {
  font-size: .7em;
}