// Pring styles
@media print {

  .container {
    width: 700px;
  }

  .media {
    margin-bottom: 0;
  }
  .pdf-button {
    display: none;
  }

  .media-list {
    margin-bottom: 0;

    a {
      color: #222;
    }
  }

  .no-print {
    display: none;
  }
}
